<div class="col-sm-3 blog-sidebar">
    <div class="row">
        <div class="col-sm-12 sidebar-section">
            <img class="center-block" src="{{common.siteSections.items.[0].fields.photo.fields.file.url}}">
            <h3 class="text-center">{{common.siteSections.items.[0].fields.title}}</h3>
            <h5 class="text-center">{{common.siteSections.items.[0].fields.subTitle}}</h5>
            <div class="body">{{common.siteSections.items.[0].fields.body}}</div>
        </div>
    </div>
</div>
