

body {
    font-family:EB Garamond;
    font-size:20px;
    color:#000000;
    letter-spacing:0px;
    line-height:28px;
    text-align:left;
}

.blog-header {
    background:#fcfcfc;
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.10);
    height:120px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.blog-header > .container {
    align-self: center;
}

article.post {
    margin-bottom: 30px;
    border-bottom:1px solid #e6c7b8;
}

article header p.post-meta {
    font-family:"Raleway","Calibri","sans-serif";
    font-style:normal;
    font-size:.8em;
    font-weight:normal;
    color:#787878
}

.post-meta p {
    font-family:Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size:11px;
    color:#000000;
    letter-spacing:3px;
    line-height:40px;
    text-align:left;
}

.post-title {
    font-family:EB Garamond;
    font-size:34px;
    color:#000000;
    letter-spacing:0px;
    line-height:40px;
    text-align:left;
}


article header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

article p.post-meta a {
    color:#787878
}

h1.blog-title {
    font-family:Shrikhand;
    font-size:32px;
    color:#d9ad98;
    letter-spacing:0.37px;
    line-height:40px;
    text-align:left;
    font-weight: normal;
}

.post-lead {
    margin-bottom: 20px;
}

.post-lead {
    margin-top: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #787878;
}

.post-category p {
    margin-bottom: 0;
}

a {
    text-decoration:none;
    -webkit-transition:all 1s ease;
    transition:all 1s ease;
    color:#000000;
}

a:hover, a:focus {
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color:#d9916c;
}

.post-image img, .post-body img {
    max-width: 100%;
    margin: 20px auto;
}

.post-highlight {
    margin-bottom: 20px;
}

.post-highlight img, .sidebar-section img {
    max-width: 100%;
}

.sidebar-section .body {
    font-size:18px;
    letter-spacing:0px;
    line-height:27px;
    text-align:left;
}


.blog-sidebar h3 {
    font-family:Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size:11px;
    color:#000000;
    letter-spacing:3px;
    line-height:40px;
    text-align:left;

    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 0;

    border-bottom:1px solid #e6c7b8;
}

.sidebar-section h5 {
    font-family:Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size:11px;
    color:#d9916c;
    letter-spacing:3px;
    line-height:11px;
    text-align:left;
    margin-top: 20px;
    padding-bottom: 0;
}

.post-body img {
    display: block;
}

.post-read-more {
    font-family:Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size:11px;
    color:#d9916c;
    letter-spacing:3px;
    line-height:40px;
    text-align:left;
    margin: 15px 0 0 0;
}

.post-read-more a {
    color:#d9916c;
}


#disqus_thread {
    margin-top: 50px;
}

.blog-sidebar .post-title {
    font-family:EB Garamond;
    font-size:18px;
    color:#000000;
    letter-spacing:0px;
    line-height:22px;
    text-align:center;
}

.blog-sidebar h5.mailto a {
    color:#d9916c;
}
