<div class="col-sm-7 blog-main">
    <div class="row">
        <div class="col-sm-12 blog-main">
            <article class="post">
                <header class="post-header">
                    <div class="post-category">
                        <p class="text-center">{{category.fields.title}}</p>
                    </div>
                    <div class="post-title">
                        <h2 class="text-center"><a href="">{{ title }}</a></h2>
                    </div>
                    <p class="post-meta text-center">
                        {{#if publishedAt}}
                        <span class="post-date">{{date publishedAt}}</span> |
                        {{/if}}
                        <span class="post-comment-count"><a href="#disqus_thread">Add a comment</a></span>
                    </p>
                </header>
                {{#if mainMedia}}
                <div class="post-image">
                    <img class="center-block" style="100%" src="{{mainMedia.fields.file.url}}">
                </div>
                {{/if}}
                {{#if lead}}
                <div class="post-lead">
                    <p>{{lead}}</p>
                </div>
                {{/if}}
                <div class="post-body" data-markdown>{{body}}</div>
                <div class="post-actions">
                </div>
                {{> article/disqus}}
            </article>
        </div>
    </div>
</div>
