<div class="col-sm-7 blog-main">
    <div class="row">
        <div class="col-sm-12 blog-main">
            <article class="post">
                <header class="post-header">
                    <div class="post-meta">
                        <p>
                        {{#if category}}
                            <span>{{category.fields.title}}</span> //
                        {{/if}}
                        {{#if publishedAt}}
                            <span>{{date publishedAt}}</span> //
                        {{/if}}
                        <span class="post-comment-count"><a href="{{path}}#disqus_thread">Add a comment</a></span>
                        </p>
                    </div>
                    <div class="post-title">
                        <h2><a href="{{path}}">{{ title }}</a></h2>
                    </div>
                </header>
                {{#if mainMedia}}
                <div class="post-image">
                    <img class="center-block" style="100%" src="{{mainMedia.fields.file.url}}">
                </div>
                {{/if}}
                {{#if lead}}
                <div class="post-lead">
                    <p>{{lead}}</p>
                </div>
                {{/if}}
                <div class="post-body" data-markdown>{{body}}</div>
                <div class="post-actions">
                </div>
                {{> article/disqus}}
            </article>
        </div>
    </div>
</div>
