<!DOCTYPE html>
{{ debug }}
<html>
    {{> head data.fields site=site _fileName=_fileName }}
    <body>
        {{> header}}
        <div class="container">
            <div class="row">
                {{> left-sidebar}}
                {{> article/content data.fields}}
                {{> right-sidebar}}
            </div>
        </div>
        {{> footer}}
        {{> footer-scripts}}
    </body>
</html>

